In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.2.11-py2.py3-none-any.whl.metadata (10.0 kB)
Downloading kafka_python-2.2.11-py2.py3-none-any.whl (309 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.2.11
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (2.2.11)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rikke\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
producer = KafkaProducer(bootstrap_servers=['54.190.145.174:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [4]:
producer.send('demotest2', value={'omkar':'rikke77'})

In [27]:
df = pd.read_csv("Downloads/Kafka-Stock-market project/indexProcessed.csv")

In [21]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [28]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demotest2', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [29]:
producer.flush() #clear data from kafka server